[submodule "app/Vendor/Glue"]
	path = app/Vendor/Glue
	url = https://github.com/jtopjian/gluephp.git
[submodule "webroot/js/form"]
	path = webroot/js/form
	url = https://github.com/malsup/form.git
[submodule "webroot/js/touchswipe"]
	path = webroot/js/touchswipe
	url = https://github.com/mattbryson/TouchSwipe-Jquery-Plugin.git
[submodule "webroot/js/mediaelement"]
	path = webroot/js/mediaelement
	url = https://github.com/johndyer/mediaelement.git
[submodule "webroot/js/lazyload"]
	path = webroot/js/lazyload
	url = https://github.com/tuupola/jquery_lazyload
