.scroll article,
section article
{
	position: relative;
	width: 100%;
	left: 0;
	top: 70px;
	overflow: hidden;
}

#story1,
#story2,
#story3,
#story4,
#story5,
#story6,
#story7,
#story8,
#story9,
#story10
{
	margin-left: auto;
	margin-top: auto;
	left: auto;
	top: auto;
}

/* text stories */
#story1,
#story4,
#story7
{
	width: 100%;
	top: 70px;
	left: 0;
}

/* video stories */
#story2,
#story3,
#story5,
#story6,
#story8,
#story9,
#story10
{
	position: absolute;
	top: 70px;
	width: 100%;
	height: 200px;
}

/*= Video Player
************************************/
.mejs-container,
.mejs-overlay
{
	max-width: 100%;
	max-height: 100%;

	background: transparent;
	max-width: 100%;
	width: 100% !important;
}

.mejs-container .mejs-controls {
	visibility: hidden;
}

.mejs-mediaelement {
	text-align: center;
	margin: 0 auto;
}

.mejs-mediaelement video {
	display: inline-block;
}