@font-face {
	font-family: 'plutosans';
	src: url('fonts/plutosansregular_2-webfont.eot');
	src: url('fonts/plutosansregular_2-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/plutosansregular_2-webfont.woff') format('woff'),
		 url('fonts/plutosansregular_2-webfont.ttf') format('truetype'),
		 url('fonts/plutosansregular_2-webfont.svg#pluto_sans_regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'fanwood';
	src: url('fonts/fanwood_text-webfont.eot');
	src: url('fonts/fanwood_text-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/fanwood_text-webfont.woff') format('woff'),
	url('fonts/fanwood_text-webfont.ttf') format('truetype'),
	url('fonts/fanwood_text-webfont.svg#fanwood_textregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html,
body
{
	width: 100%;
	height: 100%;
}

body {
	margin: 0 auto;

	font-size: 62.5%; /*= reset browser to 10px */
}

section {
	position: relative;

	z-index: 1;
}

section article {
	position: relative;
	max-width: 50%;
	margin: 0 auto;

	text-align: center;
}

p,
a
{
	font-family: fanwood, Helvetica, Arial, sans-serif;
	color: #000;
	text-decoration: none;
	text-align: left;
	color: #fff;
	white-space: normal;
}

p {
	max-width: 100%;
	padding: 10px;

	background: #000;
	background: rgba(0, 0, 0, .8);

	font-size: 1.4em; /*= 14px */
	line-height: 1.5em; /*= 15px */
}

a {
	color: rgb(140, 41, 41);
}

h1,
h2,
h3
{
	margin: 10px 0;

	font-family: plutosans, Helvetica, Arial, sans-serif;
	font-size: 3em; /*= 30px */
	font-weight: normal;
	text-shadow: -2px -2px 3px rgba(0, 0, 0, .4);

	color: #fff;
}

h2 {
	font-size: 2.2em; /*= 22px */
}

h3 {
	font-size: 1.6em; /*= 16px */
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

img {
	max-width: 100%;
}

video {
	max-width: 700px;
	max-height: 394px; /*= 16:9 */
}

.twitter {
	display: inline-block;
	padding: 5px;
	width: 40px;
	height: 40px;

	background: rgb(140, 41, 41);
	background: rgba(140, 41, 41, .6);
	background-image: url('/img/twitter.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;

	text-indent: -9999px;
}

.facebook {
	display: inline-block;
	padding: 5px;
	width: 40px;
	height: 40px;

	background: rgb(140, 41, 41);
	background: rgba(140, 41, 41, .6);
	background-image: url('/img/facebook.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;

	text-indent: -9999px;
}

.download {
	display: inline-block;
	padding: 5px;
	width: 40px;
	height: 40px;

	background: rgb(140, 41, 41);
	background: rgba(140, 41, 41, .6);
	background-image: url('/img/download.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;

	text-indent: -9999px;
}

.content {
	width: 100%;
	height: 100%;
}

.content.auto {
	height: auto;
}

.content section {
	margin-top: 10em; /*= 50 for nav + 20 margin */
}

.button {
	cursor: pointer;

	display: inline-block;
	padding: 1em .7em; /*= 10px 7px */

	background: rgb(140, 41, 41);
	background: rgba(140, 41, 41, .6);

	border: none;

	color: #fff;
	text-transform: uppercase;
	font-family: fanwood, Helvetica, Arial, sans-serif;
}

.button:hover {
	background: rgb(140, 41, 41);
}

.accessibility {
	position: absolute;
	left: -9999em;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.image-container {
	position: relative;
	display: inline-block;
	padding: 1%;
	max-width: 45.5%;
	margin-right: 2.5%;
	margin-bottom: 10px;
	float: left;

	background: rgb(140, 41, 41);
	background: rgba(140, 41, 41, .6);

	text-align: center;
}

.image-container.full {
	max-width: 100%;
	float: none;
}

.image-container:nth-child(even) {
	margin-right: 0;
	margin-left: 2.5%;
}

.image-container p {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5%;
	margin: 5%;
	width: 80%;
	height: 80%;
	display: none;

	text-align: left;
	color: #fff;

	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, .4);
}

.image-container:hover p {
	display: block;
}

.hic {
	display: inline-block;
	width: 12px;

	background: url('/img/mark-small.png') no-repeat 50% 50%;

	text-indent: -9999px;
}

h1 .hic {
	width: 24px;

	background-image: url('/img/mark-small-h1.png');
}

/*= Scroll
************************************/
.content section.scroll {
	margin-top: 0;
	height: 100%;
	width: 100%;
}

.scroll article {
	z-index: 1;
	position: absolute;
	max-width: 100%;

	display: none;
}

.buttons {
	position: absolute;
	left: 10px;
	bottom: 10px;

	z-index: 1;
}

.navigate {
	position: absolute;
	right: 10px;
	bottom: 10px;

	z-index: 1;
}

.navigate button {
	cursor: pointer;
	display: inline-block;
	padding: 5px;
	width: 50px;
	height: 50px;

	border: none;

	text-indent: -9999px;
	color: #fff;

	background: rgb(140, 41, 41);
	background: rgba(140, 41, 41, .6);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.navigate .next {
	background-image: url('/img/right.png');
}

.navigate .prev {
	background-image: url('/img/left.png');
}

#heaven-crashing-in {
	top: 50%;
	left: 50%;

	margin-left: -350px; /*= videowidth/2 */
	margin-top: -197px; /*= videoheight/2 */
}

#story1 {
	display: block;
	width: 400px;

	right: 93px;
	top: 136px;
}

#story2 {
	top: 50%;
	left: 50%;

	margin-left: -350px; /*= videowidth/2 */
	margin-top: -197px; /*= videoheight/2 */
}

#story3 {
	top: 50%;
	left: 20px;

	margin-top: -197px; /*= videoheight/2 */
}

#story4 {
	width: 400px;

	top: 100px;
	left: 40px;
}

#story5 {
	top: 50%;
	left: 20px;

	margin-top: -197px; /*= videoheight/2 */
}

#story6 {
	top: 50%;
	left: 50%;

	margin-left: -350px; /*= videowidth/2 */
	margin-top: -197px; /*= videoheight/2 */
}

#story7 {
	width: 358px;

	top: 180px;
	left: 201px;
}

#story8 {
	top: 50%;
	left: 50%;

	margin-left: -350px; /*= videowidth/2 */
	margin-top: -197px; /*= videoheight/2 */
}

#story9 {
	top: 50%;
	left: 50%;

	margin-left: -350px; /*= videowidth/2 */
	margin-top: -197px; /*= videoheight/2 */
}

#story10 {
	width: 400px;

	top: 391px;
	left: 251px;
}

#story11 {
	width: 400px;

	top: 300px;
	right: 230px;
}

#story12 {
	width: 400px;

	top: 150px;
	right: 110px;
}

/*= Nav
************************************/
nav {
	z-index: 3;
	position: fixed;
	top: -32em; /*= -320px */
	left: 0;
	width: 100%;
	height: 32em; /*= 320px */

	box-shadow: inset 0 0 5px 5px rgba(136, 136, 136, .2);

	background: #fff;

	-webkit-transition: .125s linear all;
	-moz-transition: .125s linear all;
	-ms-transition: .125s linear all;
	-o-transition: .125s linear all;
	transition: .125s linear all;
}

nav button {
	cursor: pointer;
	position: absolute;
	display: block;
	top: 100%;
	left: 50%;
	height: 5em; /*= 50px */
	width: 10em; /*= 100px */
	margin-left: -5em; /*= 50px */

	background: url('/img/down.png') no-repeat 50% 50% #8c2929;

	border: none;

	text-indent: -9999px;
	color: #fff;
}

nav > ul {
	padding: 20px 0;
	width: 100%;
	z-index: 3;

	text-align: center;
}

nav ul li ul li a {
	color: #6d6e71;
	font-style: italic;
	font-family: fanwood, Helvetica, Arial, sans-serif;
}

nav > ul li a {
	color: #000;
	font-family: plutosans, Helvetica, Arial, sans-serif;
	font-size: 1.7em;
}

nav a:hover {
	color: rgb(140, 41, 41);
}

nav li {
	margin-bottom: 10px;
}

nav ul li ul {
	margin-top: 10px;
}

nav .hic {
	background-image: url('/img/mark-small-black.png');
}

/*= Upload slide
************************************/
.upload-slide {
	display: none;
	position: fixed;
	bottom: 100%;
	left: 0;
	width: 90%;
	padding: 50px 5%;
	z-index: 2;

	box-shadow: inset 0 0 5px 5px rgba(136, 136, 136, .2);

	background: #fff;

	text-align: center;
}

.upload-slide section {
	margin-top: 0;
}

.upload-slide h1 {
	color: #000;
}

.user-image {
	width: 300px;
	height: 300px;
	margin: 0 auto;

	/* important! if center, positioning the mark is off */
	text-align: left;
}

/*= Upload Form
************************************/
.js.upload {
	display: inline-block;
	position: relative;
}

.js.upload form {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.js.upload input[type=submit] {
	display: none;
}

.choose {
	display: inline-block;
	position: relative;
}

.choose-photos form {
	display: inline-block;
	float: left;
	max-width: 24%;
	margin-right: 1%;
}

.choose-photos input[type=image] {
	max-width: 100%;
}

/*= Admin
************************************/
img.small {
	width: 100px;
	height: 100px;
}

/*= Pages
************************************/
.background {
	overflow-x: auto;
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	display: block;

	z-index: -1;

	white-space: nowrap;
}

.background div {
	width: 100%;
	height: 100%;
	display: block;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
}

.multi.background div {
	margin: 0;
	padding: 0;
	display: inline !ie7;
	display: inline-block;
	zoom: 1;
	height: 101%;
	width: 96%; /* let the next image bleed onto the screen */
}

.multi.background div:last-child {
	/* last image should take up the whole screen and compensate for
	previous margins */
	width: 101%;
}

.directory-column {
	width: 46%;
	padding: 0 2%;
	float: left;
}

.region {
	padding: 10px;

	text-align: left;
}

.region .city {
	display: block;
	margin-bottom: 20px;

	font-family: plutosans, Helvetica, Arial, sans-serif;
	font-size: 1.8em; /*= 18px */
	color: #fff;
}

.churches {
	overflow: hidden;
	display: none;
}

.church {
	margin-bottom: 20px;
	text-align: left;
}

.church p {
	padding: 0;
	background: transparent;
}

.church h3 {
	margin: 0;
}

.church a {
	color: #fff;

	text-decoration: underline;
}


/*= Backgrounds
************************************/
.bg1 {
	background-image: url('/img/1.jpg');
}

.bg2 {
	background-image: url('/img/2.jpg');
}

.bg3 {
	background-image: url('/img/3.jpg');
}

.bg4 {
	background-image: url('/img/4.jpg');
}

.bg5 {
	background-image: url('/img/5.jpg');
}

.bg6 {
	background-image: url('/img/6.jpg');
}

.bg7 {
	background-image: url('/img/7.jpg');
}

.bg8 {
	background-image: url('/img/8.jpg');
}

.bg9 {
	background-image: url('/img/9.jpg');
}

.bg10 {
	background-image: url('/img/10.jpg');
}

.bg11 {
	background-image: url('/img/11.jpg');
}

.bg12 {
	background-image: url('/img/12.jpg');
}

.bg13 {
	background-image: url('/img/13.jpg');
}

.bg14 {
	background-image: url('/img/14.jpg');
}

.bg15 {
	background-image: url('/img/15.jpg');
}

.bg16 {
	background-image: url('/img/16.jpg');
}

.bg17 {
	background-image: url('/img/17.jpg');
}

.bg18 {
	background-image: url('/img/18.jpg');
}

.bg19 {
	background-image: url('/img/19.jpg');
}

.bg20 {
	background-image: url('/img/20.jpg');
}

.bg21 {
	background-image: url('/img/21.jpg');
}

.bg22 {
	background-image: url('/img/22.jpg');
}

/*= Video Player
************************************/
.mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: #8c2929;
	background: rgba(140, 41, 41, 0.8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(140, 41, 41,0.8)), to(rgba(140, 41, 41,0.6)));
	background: -webkit-linear-gradient(top, rgba(140, 41, 41,0.8), rgba(140, 41, 41,0.6));
	background: -moz-linear-gradient(top, rgba(140, 41, 41,0.8), rgba(140, 41, 41,0.6));
	background: -o-linear-gradient(top, rgba(140, 41, 41,0.8), rgba(140, 41, 41,0.6));
	background: -ms-linear-gradient(top, rgba(140, 41, 41,0.8), rgba(140, 41, 41,0.6));
	background: linear-gradient(rgba(140, 41, 41,0.8), rgba(140, 41, 41,0.6));
}

/*= Gallery
**************************************************/
.slideshow {
	padding: 20px 0;
}

.slideshow img {
	float: left;
	max-width: 24%;
	margin: 0;
	margin-right: 1%;
	margin-bottom: 1%;
	padding: 0;

	cursor: pointer;
}

.slideshow-large {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	text-align: center;
}

.slideshow-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;

	background: rgba(0, 0, 0, .4);
}

.slideshow-large-image {
	position: relative;
	margin: 0 auto;
	max-height: 80%;
	padding: 5%;
	padding-top: 10em;

	overflow: hidden;

	text-align: center;
}

.slideshow-popup img {
	max-width: 100%;
	max-height: 100%;
}

.slideshow-popup {
	position: relative;
	display: inline-block;
	padding: 5px;
	z-index: 2;

	background: #fff;
}

.slideshow-popup a {
	display: block;
	position: absolute;
	overflow: hidden;
	padding: 15px;
}

.slideshow-popup a.close {
	right: 0px;
	top: 0px;
	width: 20px;
	height: 20px;

	text-align: center;
	line-height: 20px;
	font-size: 20px;
}

.slideshow-popup a.next {
	right: 0px;
	top: 50%;
}

.slideshow-popup a.prev {
	left: 0px;
	top: 50%;
}

.slideshow-popup:hover a.prev,
.slideshow-popup:hover a.next {
	display: block;
}